* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.play__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 800px;
}

.wordle__container {
  padding-bottom: 8px;
  padding-top: 10px;
}
.wordle__row {
  display: flex;
  text-align: center;
}

.wordle__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #142a40;
  margin: 3px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 2em;
}
.wordle__box.effect {
  animation-name: pointBox;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes pointBox {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.wordle__box.correct {
  color: white;
  animation-name: correctColor;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes correctColor {
  0% {
    scale: 0;
    background-color: #142a40;
  }
  50% {
    scale: 1;
    background-color: #142a40;
  }
  100% {
    scale: 1;
    background-color: #6aaa64;
  }
}

.wordle__box.present {
  color: white;
  animation-name: presentColor;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes presentColor {
  0% {
    scale: 0;
    background-color: #142a40;
  }
  50% {
    scale: 1;
    background-color: #142a40;
  }
  100% {
    scale: 1;
    background-color: #c9b458;
  }
}

.keyboard__container {
  margin-top: 20px;
  width: 80vw;
  height: 150px;
}

.keyboard__row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 300px;
}

.keyboard__button {
  width: 70px;
  height: 50px;
  background-color: #142a40;
  margin: 3px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard__button:hover {
  background-color: bisque;
}

.keyboard__button.special__key {
  width: 120px;
}

@media (max-width: 768px) {
  .wordle__container {
    width: 380px;
  }
  .keyboard__container {
    width: 380px;
  }

  .keyboard__row {
    padding: 0;
  }
}
